$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$blue: rgb(91, 102, 255);
$red: rgb(249, 87, 97);

html {
  font: $font-stack;
  font-size: 18px;
  text-align: center;
}

body {
  background-color: white;
}

.otree-body, .otree-wait-page {
    width: 100%;
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;

    font: $font-stack;
    font-size: 18px;
    background-color: white;
}

.otree-wait-page__title {
    display: none;
}
.progress {
    display: none;
}

.page-header {
    height: 0;
    margin: 0;
    padding: 0;
}

.card {
    width: 100%;
    border: none;
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.card-body {
    margin: 0;
    padding: 0;
}

#header {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
  min-height: 2.4rem;
  height: 2.4rem;
}

#panels-container {
  width: 100%;
  height: 820px;
  text-align: center;
}

#interface-container {
  width: 100%;
  text-align: center; 
}

#container {
  width: 100%;
  text-align: center;
}



#main-panel {
  float: right;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

#waiting-container {
  text-align: center;
  margin: auto auto 20px auto;
  width: 80%;
  padding-top: 180px;
}

h3 {
font-size: 1.6rem;
}
h4 {
font-size: 1.4rem;
font-weight: 200;
}
p {
font-size: 1rem;
font-weight: 200;
}

#true_submit {
  display: none;
}

.strat, .payoff {
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.matrix-container {
  height: auto;
  width: auto;
  display: inline-block;
  padding-right: 2.4rem;
  padding-left: 3.6rem;

  font-size: 2rem;
  &.big {font-size: 1.1rem;}
  
  .pm_strat {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    padding: 0 0.3em 0 0.3em;
  
    &.bluehigh, &.redhigh {
      font-weight: 600;
    }
  }
  .pm_pay {
    border: 1px solid #aaa;
  
    font-weight: 200;
  
    margin: 0.3em;
    width: 3.5em;
    min-width: 3.5em;
    position: relative;
  
    height: 3.5em;
    div.com {display: none;}
    div.blue {position: absolute; bottom: 0.15em; left: 0.4em;}
    div.red {position: absolute; top: 0.15em; right: 0.3em;}
  
  }
  .pm_belief {
    text-align: center;
    font-size: 0.65em !important;
    font-weight: 300;
    padding: 0.26em 0.39em 0 0.39em;
    min-width: 2.6em;
    width: 2.6em;
    min-height: 1.3em;
    height: 1.3em;
  }

}



.blue {
  color: rgb(91, 102, 255);
}
.red {
  color: rgb(249, 87, 97);
}

.bluehigh {
  background-color: rgba(219, 221, 252, 0.7);
}
.redhigh {
  background-color: rgba(247, 222, 224, 0.7);
}
.bluehigh.redhigh {
  background-color: rgba(225, 143, 252, 0.993);
  font-weight: 400
}

.submit_button {
    transition-duration: 0.4s; 
    color: white;
    &.btnblue {background-color: rgb(91, 102, 255)}
    &.btnred {background-color: rgb(249, 87, 97)}
    margin-top: 0.8rem;
}

#timer_display {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ccc;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.imperative {
  opacity: 0.2;
  transition-duration: 1s;

  &.active {
    opacity: 1;
  }
}

.imperative_underline {
  width: 0%;
  opacity: 0.2;
  transition-duration: 0.5s;

  &.blue {  border-bottom: 1px solid rgb(91, 102, 255);};
  &.red {  border-bottom: 1px solid rgb(249, 87, 97);};

  &.active {
    opacity: 0.6;
    width: 30%;
  }
}


#beliefinputouter {
  opacity: 0.2;
  transition-duration: 1s;

  input {width: 3rem; min-width: 3rem;}

  &.active {
    opacity: 1;
  }
}

#traininginputouter {
  input {width: 3rem; min-width: 3rem;}
}

#belieftablecontainer {
  display: inline-block;
  margin: auto;
  padding-top: 80px;
}
.belieftable {
  margin: auto;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 200;
  margin-right: 3.5rem;

  thead td {padding-bottom: 0.3rem;}
  td {padding: 0 0.5rem 0 0.5rem;
  
  &.fade {opacity: 0.1}

  }
}

.belief_table_inner_container {
  display: inline-block;
  width: auto;
}


.result_container {
  max-width: 1300px;
  margin: auto;}

.belief_result, .action_result  {display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.belief_result {
  .result_left {
    width: 600px;
    min-width: 600px;
    max-width: 600px}
  .result_right {    
    width: 400px;
    min-width: 400px;
    max-width: 400px}
}
.action_result {
  .result_left {
    width: 600px;
    min-width: 600px;
    max-width: 600px}
  .result_right {    
    width: 400px;
    min-width: 400px;
    max-width: 400px}
}

#receipt {
  text-align: left;
  display: inline-block;
  margin: auto;
}

.instructionsbox {
  text-align: center;
  width: 920px;
  max-width: 920px;
  margin: auto;
}





input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
