{% extends "global/Templates.html" %} {% load staticfiles otree %} 

{% block content %}

<div id="interface_container">

  <div id="header">
    <h3><span v-if="practice">Practice</span> Round {{player.round_number}} of {{Constants.num_rounds}}. You are <span v-if="role=='blue'" class="blue">blue</span><span v-else class="red">red</span>.</h3>
  </div>

  <div id="panels-container">

    <div id="main-panel">
      <div id="main-panel-container">

        {% block instructions_above %}

        {% endblock %}

        <payoff-matrix :payoffs="base_payoffs" :role="role" :clickable="clickable" :high="high" :beliefs="beliefs" :bluestrats="bluestrats" :redstrats="redstrats" @setaction="setaction"></payoff-matrix>

        {% block instructions_below %}

        {% endblock %}

        {% block undermatrix %}

        {% endblock %}

        <div id="button-container">
          <button v-if="submit_available" type="button" name="submit" id="submit" :class="{btn: true, submit_button: true, btnblue: role=='blue', btnred: role=='red'}" @click="submit()">Submit</button>
        </div>

        <button name="true_submit" id="true_submit">Submit</button>       
        <input type="hidden" name="action" id="action" v-model="action">
        <input type="hidden" name="belief" id="belief" v-model="belief">
        <input type="hidden" name="interactions" id="interactions" v-model="interactions">
        <input type="hidden" name="played_by" id="played_by" v-model="played_by">
        <input type="hidden" name="time_to_decide" id="time_to_decide" v-model="time_to_decide"> 
        <input type="hidden" name="time_to_submit" id="time_to_submit" v-model="time_to_submit"> 
        <input type="hidden" name="times_changed_mind" id="times_changed_mind" v-model="times_changed_mind"> 
      
      </div>  
    </div>

    <div id="timer_display"><span v-if="!active_bool">${time_until_active}</span><span v-else>0</span></div>

    <div v-if="show_belief_table">
      <div id="belieftablecontainer">
        <belief-table :start="0" :stop="33" :role="role" :beliefsvalid="beliefs_valid" :belief="belief"></belief-table>
        <belief-table :start="34" :stop="66" :role="role" :beliefsvalid="beliefs_valid" :belief="belief"></belief-table>
        <belief-table :start="67" :stop="100" :role="role" :beliefsvalid="beliefs_valid" :belief="belief"></belief-table>
        <p>One question will be drawn at random for payment.</p>
        <br><br><br>
      </div>
    </div>

  </div>

  {% endblock %} 
  
  {% block page_scripts %}
  
  <script>
    console.log('loading baseinterface')
    // var base_payoffs = JSON.parse({{player.game_payoffs | json}})
  </script>

  {% endblock %} 
  
  