{% extends "global/Templates.html" %} {% load staticfiles otree %} 

{% block content %}

<div id="interface_container">

  <div id="header">
    <h3><span v-if="practice">Practice</span> Round {{player.round_number}} of {{Constants.num_rounds}}. You are <span v-if="role=='blue'" class="blue">blue</span><span v-else class="red">red</span>.</h3>
  </div>

  <div id="panels-container">

    <div id="main-panel">
      <div id="main-panel-container">

        <h4 v-if="collect_actions && collect_beliefs">The computer has randomly selected a <span v-if="practice">practice </span>round of Section 1 in which the matrix below was played.</h4>
        <hr :class="{imperative_underline: true, active: show_underlines, red: role=='red', blue: role=='blue', fade: (collect_beliefs && beliefs_valid) || (!collect_beliefs && action)}">
        <div v-if="collect_beliefs">
          <h4 :class="{imperative: true, active: beliefs_active_bool, fade: beliefs_valid}">
            What do you believe is the probability that a <br>randomly selected <span v-if="role=='blue'" class="red">red</span><span v-else class="blue">blue</span> player chose <span v-if="role=='blue'" class="red">L</span><span v-else class="blue">U</span> in that round?  
          </h4>
          <h4 id="beliefinputouter" :class="{active: beliefs_active_bool}">
            <input id="beliefinput" :disabled="!beliefs_active_bool" type="number" min="0" max="100" step="1" v-model.number="belief" :class="{blue: role=='red', red: role=='blue'}" @input="setbelief" @keypress.enter.prevent="">
            %
          </h4>
          </div>
         
        <div v-if="collect_actions">
        <h4 :class="{imperative: true, active: actions_active_bool, fade: action}"><span v-if="collect_actions && collect_beliefs">The computer has randomly selected a <span v-if="role=='blue'" class="red">red</span><span v-else class="blue">blue</span> player and recorded <br>their action from that round. </span>Please click to select between 
          <span v-if="role=='blue'" class="blue" v-for="strat in bluestrats.slice(0,-2)">${strat[0]}, </span>
          <span v-if="role=='red'" class="red" v-for="strat in redstrats.slice(0,-2)">${strat[0]}, </span>
          <span v-if="role=='blue'" class="blue">${bluestrats.slice(-2)[0][0]}</span>
          <span v-if="role=='red'" class="red">${redstrats.slice(-2)[0][0]}</span> 
            and 
          <span v-if="role=='blue'" class="blue">${bluestrats.slice(-1)[0][0]}</span>
          <span v-if="role=='red'" class="red">${redstrats.slice(-1)[0][0]}</span>:</h4>
        
        </div>
        <hr :class="{imperative_underline: true, active: show_underlines, red: role=='red', blue: role=='blue', fade: (!collect_actions && beliefs_valid) || (collect_actions && action)}">

        <payoff-matrix :payoffs="base_payoffs" :role="role" :clickable="clickable" :high="high" :beliefs="beliefs" :bluestrats="bluestrats" :redstrats="redstrats" @setaction="setaction"></payoff-matrix>

        <div id="button-container">
          <button v-if="submit_available" type="button" name="submit" id="submit" :class="{btn: true, submit_button: true, btnblue: role=='blue', btnred: role=='red'}" @click="submit()">Submit</button>
        </div>

        <button name="true_submit" id="true_submit">Submit</button>       
        <input type="hidden" name="action" id="action" v-model="action">
        <input type="hidden" name="belief" id="belief" v-model="belief">
        <input type="hidden" name="interactions" id="interactions" v-model="interactions">
        <input type="hidden" name="played_by" id="played_by" v-model="played_by">
        <input type="hidden" name="time_to_decide" id="time_to_decide" v-model="time_to_decide"> 
        <input type="hidden" name="time_to_submit" id="time_to_submit" v-model="time_to_submit"> 
        <input type="hidden" name="times_changed_mind" id="times_changed_mind" v-model="times_changed_mind"> 
      
      </div>  
    </div>

    <div id="timer_display"><span v-if="!(beliefs_active_bool || actions_active_bool)">${time_until_active}</span><span v-else>0</span></div>

    <div v-if="show_belief_table">
      <div id="belieftablecontainer">
        <belief-table :start="0" :stop="33" :role="role" :beliefsvalid="beliefs_valid" :belief="belief"></belief-table>
        <belief-table :start="34" :stop="66" :role="role" :beliefsvalid="beliefs_valid" :belief="belief"></belief-table>
        <belief-table :start="67" :stop="100" :role="role" :beliefsvalid="beliefs_valid" :belief="belief"></belief-table>
        <p>One question will be drawn at random for payment.</p>
        <br><br><br>
      </div>
    </div>

  </div>

  {% endblock %} 


  {% block scripts %}
<script>
    vm = new Vue({
      el: '#interface_container',
      delimiters: ['${', '}'],
      data: {
        base_payoffs: base_payoffs,
        role: {{player.role|json}},
        practice: {{Constants.practice|json}},
        testing_if_yes: {{session.config.testing_if_yes|json}},
        played_by: "--",
        time_now: null,
        start_time: null,
        active_time: null,
        actions_active_bool: false,
        beliefs_active_bool: false,
        time_limit: {{session.config.time_limit|json}},
        time_until_active: {{session.config.time_limit|json}},
        time_to_decide: null,
        time_to_submit: null,
        times_changed_mind: -1,
        collect_actions: {{Constants.collect_actions|json}},
        collect_beliefs: {{Constants.collect_beliefs|json}},
        show_belief_table: {{Constants.collect_beliefs|json}},
        action: null,
        belief: null,
        interactions_raw: [],
      },
      computed: {
        high: function () {return [this.action]},
        clickable: function () {return this.collect_actions && this.actions_active_bool},
        beliefs_valid: function () {return (this.belief >= 0 && this.belief <= 100 && this.belief === parseInt(this.belief,10))},
        beliefs: function () {      
          if (this.beliefs_valid) {
            if (this.role=='blue') {
              return {'L': this.belief, 'R': 100-this.belief}
              }
            else {
              return {'U': this.belief, 'D': 100-this.belief}
              }
          } 
          else {return {}}
          },
        bluestrats: function() {
          if ('U' == _.keys(this.base_payoffs)[0]) {return ['U','D']}
          else {return _.keys(this.base_payoffs).sort()}
        },
        redstrats: function() {
          return _.keys(this.base_payoffs[_.keys(this.base_payoffs)[0]]).sort()          
        },
        submit_available: function () {
            if (this.collect_beliefs && !this.beliefs_valid) {return false}
            else if (this.collect_actions && this.action == null) {return false}
            else {return true}
        },
        interactions: function () {
          return JSON.stringify(this.interactions_raw)
        },
        show_underlines: function () {
          if (this.collect_actions && this.collect_beliefs) {return this.beliefs_active_bool}
          else if (this.collect_actions && !this.collect_beliefs) {return this.actions_active_bool}
          else if (this.collect_beliefs && !this.collect_actions) {return this.beliefs_active_bool}
        }
      },
      mounted: function () {
        this.start_time = _.now()/1000
        this.active_time = this.start_time + this.time_limit
        window.setInterval(() => {
            this.time_now = _.now()/1000;
            this.time_until_active = (this.active_time - this.time_now).toFixed(0);
            if (this.time_until_active <= 0) {
              if (this.collect_beliefs) {
                this.beliefs_active_bool = true;
              } else if (this.collect_actions) {
                this.actions_active_bool = true;
              }
              }
          }
          , 1000)
          if (this.testing_if_yes == 'yes' || this.testing_if_yes == 'practice') {
            if (this.collect_beliefs) {
              this.beliefs_active_bool = true;
              this.belief = _.random(100)
              this.setbelief()
            }
            if (this.collect_actions) {
              this.actions_active_bool = true;
              if (this.role == 'blue') {
                this.setaction(_.sampleSize(this.bluestrats,1)[0])
              } else {
                this.setaction(_.sampleSize(this.redstrats,1)[0])
              }
            }
            this.played_by = "Testing"
            this.times_changed_mind += 1
            this.time_to_decide = (_.now()/1000 - this.start_time).toFixed(3)
            setTimeout(function () {
              document.getElementById("submit").click();
            }, 500*Math.random())
        }
      },
      methods: {
        setaction: function(action) {
            if (action == this.action) {
              this.action = null
            }
            else if (action != this.action) {
              this.action = action
              this.played_by = "User"
            }
            this.times_changed_mind += 1
            this.time_to_decide = (_.now()/1000 - this.start_time).toFixed(3)
            this.interactions_raw.push({
              'interaction': 'setaction',
              'action': action,
              'time': (_.now()/1000 - this.start_time).toFixed(3)
            })
            setTimeout(function () {
            }, 100)    
        },
        setbelief: function() {
            this.times_changed_mind += 1
            this.played_by = "User"
            this.time_to_decide = (_.now()/1000 - this.start_time).toFixed(3)
            this.interactions_raw.push({
              'interaction': 'setbelief',
              'belief': this.belief,
              'time': (_.now()/1000 - this.start_time).toFixed(3)
            })      
            if (this.collect_actions) {
              this.actions_active_bool = true
            }    
        },
        submit: function() {
          this.time_to_submit = (_.now()/1000 - this.start_time).toFixed(3)
          setTimeout(function () {
              document.getElementById("true_submit").click();
            }, 50)
        }
      }
    });

</script>
{% endblock %}
  
  
  