{% extends "otree/WaitPage.html" %} {% load staticfiles otree %}

{% block content %}
<div id="interface_container">
    
      <div id="header">
        <h3></h3>
      </div>
    
      <div id="panels-container">
        <div id="main-panel">
          <div id="waiting-container">
            <h3>Waiting for other players.</h3><br>
            <p>You have now completed the experiment. Thank you!</p>
            <p>Before we can process payments, we must wait for all players to finish.</p>
            <p>If you wish, you may read or use your cellphone (as long as it is silent). <br>Please do so out of view of others, and in a manner that does not disrupt or distract those around you.</p>
            <p>You may not eat, talk, write, leave, or move around the room.</p>
            <p>If you have any questions, please raise your hand and wait for assistance.</p>
          </div>
        </div>
      </div>
    
{% endblock %} 
  
{% block global_styles %}

<link rel="stylesheet" href="{% static 'global/BaseStyles.min.css' %}"> 

{% endblock %}