{% extends "otree/WaitPage.html" %} {% load staticfiles otree %}

{% block content %}
<div id="interface_container">
    
      <div id="header">
        <h3></h3>
      </div>
    
      <div id="panels-container">
        <div id="main-panel">
          <div id="waiting-container">
            <h3>Waiting for other players.</h3>
          </div>
        </div>
      </div>
    
{% endblock %} 
  
{% block global_styles %}

<link rel="stylesheet" href="{% static 'global/BaseStyles.min.css' %}"> 

{% endblock %}