{% extends "global/Templates.html" %}
{% load staticfiles otree %}

{% block content %}

<div id="header">
  <h3></h3>
</div>

<div id="panels-container">
  <div id="main-panel">
    <div id="waiting-container">
      <h3>Please wait for instructions before continuing.</h3>
    </div>
    <br><br><br><br><br><br><br><br>
    <div id="buttoncontainer"><button class="submit_button btn btnblue" id="sectioncontinuebutton">Continue</button></div>
  </div>
</div>

</div>

{% endblock %}

{% block scripts %}

<script>
    vm = new Vue({
      el: '#panels-container',
      delimiters: ['${', '}'],
      data: {
        testing_if_yes: {{session.config.testing_if_yes|json}},
      },
      mounted: function () {
        if (this.testing_if_yes == 'yes') {
            setTimeout(function () {
              document.getElementById("sectioncontinuebutton").click();
            }, 10)
          }
      },
    });


</script>

{% endblock %}

{% block styles %}


{% endblock %}